.login_main {
  width: 100%;
  top: 0;
  height: 105vh;
  background: #fafafa;
  background: linear-gradient(to right, #fafafa 0%, #c4c4c4 100%);
}
.login_container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login_container_form_main {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100vh;
}

.login_container_form {
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4) inset;
  width: 65%;
  align-items: center;
  margin-left: 100px;
  height: 95vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login_logo > img {
  height: 120px;
}

.login_heading {
  font-size: larger;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
.login_container_img {
  display: flex;
  width: 50%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login_container_img > img {
  height: 500px;
  margin-right: 100px;
}

.login_mail_bar {
  padding: 8px;
  border: none;
  width: 60%;
  border-radius: 5px;
  font-size: small;
}

.login_pass_bar {
  padding: 8px;
  border: none;
  width: 60%;
  border-radius: 5px;
  font-size: small;
}

.login_forget_pass {
  margin-top: 8px;
  font-size: small;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 160px;
  color: rgb(28, 90, 215);
  cursor: pointer;
}
.login_submit_btn {
  padding: 8px;
  border: none;
  width: 64%;
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.login_submit_btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.login_para1 {
  margin-top: 8px;
  font-size: small;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.login_para2 {
  font-size: medium;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(28, 90, 215);
  cursor: pointer;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 800px){
  .login_main {
    width: 100%;
    top: 0;
    height: 105vh;
    background: #fafafa;
    background: linear-gradient(to right, #fafafa 0%, #c4c4c4 100%);
  }
  .login_container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .login_container_form_main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
  }
  
  .login_container_form {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4) inset;
    width: 65%;
    align-items: center;
    margin-left: 0px;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login_logo > img {
    height: 120px;
  }
  
  .login_heading {
    font-size: larger;
    font-weight: bolder;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  }
  .login_container_img {
    display: none;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .login_container_img > img {
    height: 500px;
    margin-right: 100px;
    display: none;
  }
  
  .login_mail_bar {
    padding: 8px;
    border: none;
    width: 60%;
    border-radius: 5px;
    font-size: small;
  }
  
  .login_pass_bar {
    padding: 8px;
    border: none;
    width: 60%;
    border-radius: 5px;
    font-size: small;
  }
  
  .login_forget_pass {
    margin-top: 8px;
    font-size: small;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-left: 160px;
    color: rgb(28, 90, 215);
    cursor: pointer;
  }
  .login_submit_btn {
    padding: 8px;
    border: none;
    width: 64%;
    color: white;
    background-color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login_submit_btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .login_para1 {
    margin-top: 8px;
    font-size: small;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .login_para2 {
    font-size: medium;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgb(28, 90, 215);
    cursor: pointer;
  }
}

@media screen and (max-width: 650px){
  .login_forget_pass {
    margin-top: 8px;
    font-size: small;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-left: 100px;
    color: rgb(28, 90, 215);
    cursor: pointer;
  }

  .login_container_form {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4) inset;
    width: 65%;
    align-items: center;
    margin-left: 0px;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}


@media screen and (max-width: 450px){
  .login_forget_pass {
    margin-top: 8px;
    font-size: small;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-left: 50px;
    color: rgb(28, 90, 215);
    cursor: pointer;
  }

  .login_container_form {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4) inset;
    width: 80%;
    align-items: center;
    margin-left: 0px;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}


@media screen and (max-width: 350px){
  .login_main {
    width: 100%;
    top: 0;
    height: 105vh;
    background: #fafafa;
    background: linear-gradient(to right, #fafafa 0%, #c4c4c4 100%);
  }
  .login_container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .login_container_form_main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
  }
  
  .login_container_form {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4) inset;
    width: 80%;
    align-items: center;
    margin-left: 0px;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
  .login_logo > img {
    height: 120px;
  }
  
  .login_heading {
    font-size: larger;
    font-weight: bolder;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  }
  .login_container_img {
    display: none;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .login_container_img > img {
    height: 500px;
    margin-right: 100px;
    display: none;
  }
  
  .login_mail_bar {
    padding: 8px;
    border: none;
    width: 60%;
    border-radius: 5px;
    font-size: small;
  }
  
  .login_pass_bar {
    padding: 8px;
    border: none;
    width: 60%;
    border-radius: 5px;
    font-size: small;
  }
  
  .login_forget_pass {
    margin-top: 8px;
    font-size: small;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-left: 50px;
    color: rgb(28, 90, 215);
    cursor: pointer;
  }
  .login_submit_btn {
    padding: 8px;
    border: none;
    width: 64%;
    color: white;
    background-color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login_submit_btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .login_para1 {
    margin-top: 8px;
    font-size: small;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .login_para2 {
    font-size: medium;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgb(28, 90, 215);
    cursor: pointer;
  }
}
