.Navbar_container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: row;
  background-color: white;
  z-index: 100;
  /* font-family:'Trebuchet MS'; */
  box-shadow: 0 2px 8px -5px black;
}
.logo_container {
  height: 70px;
}
.logo_container > img {
  height: 70px;
}

.Links_main {
  display: flex;
  height: 40px;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  color: black;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: small;
}

.logout_btn {
  background-color: rgb(64, 103, 244);
  padding: 8px;
  color: white;
}

.Links {
  display: flex;
  color: black;
  text-align: center;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: small;
  border-bottom: solid black 1px;
}

.Links:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-bottom: solid black 1px;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-bottom: solid black 1px;
}

@media only screen and (max-width: 500px) {
  .Navbar_container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    background-color: white;
    z-index: 100;
    /* font-family: 'Trebuchet MS'; */
    box-shadow: 0 2px 8px -5px black;
  }

  .logo_container > img {
    height: 60px;
    margin-top: 12px;
    margin-bottom: 10px;
  }

  .Links {
    color: black;
    text-align: center;
    display: flex;
    gap: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .logout_btn {
    background-color: rgb(64, 103, 244);
    padding: 4px;
    color: white;
    margin-bottom: 18px;
}
}

@media screen and (max-width: 400px) {
  .Navbar_container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    background-color: white;
    z-index: 100;
    /* font-family:'Trebuchet MS'; */
    box-shadow: 0 2px 8px -5px black;
  }

  .logo_container > img {
    height: 50px;
    margin-top: 17px;
  }

  .Links {
    display: flex;
    color: black;
    text-align: center;
    align-items: center;
    letter-spacing: 0px;
    cursor: pointer;
    font-size: small;
    font-weight: lighter;
    border-bottom: solid black 1px;
    align-content: space-around;
    flex-direction: row;
    justify-content: space-between;
  }

  .logout_btn {
    background-color: rgb(64, 103, 244);
    padding: 4px;
    color: white;
    margin-bottom: 18px;
}

  .Links_main {
    display: flex;
    height: 40px;
    width: 40%;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
    color: black;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: small;
    flex-direction: row;
  }

  .Links:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-bottom: solid black 1px;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-bottom: solid black 1px;
    margin-bottom: 9px;
  }
}
